<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("order") %>
                <th>
                    <%= t('.order') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("deadline") %>
                <th>
                    <%= t('.deadline') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("note") %>
                <th>
                    <%= t('.note') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_payments_debts.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @debts.each do |debt| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: debt.id) %>
                </td>
                <% if get_columns(params).include?("order") %>
                    <td></td>
                <% end %>
                <% if get_columns(params).include?("deadline") %>
                    <td><%= format_date(debt.deadline) %></td>
                <% end %>
                <% if get_columns(params).include?("note") %>
                    <td><%= debt.note %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: debt.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= debt.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_payments.edit_backend_debt_path(debt, order_id: debt.order_id)
                            },
                            {
                                text: '<i class="fa fa-eye-slash"></i> '+t('archive'),
                                url: erp_payments.archive_backend_debts_path(id: debt),
                                data_method: 'PUT',
                                hide: debt.archived,
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-eye"></i> '+t('unarchive'),
                                url: erp_payments.unarchive_backend_debts_path(id: debt),
                                data_method: 'PUT',
                                hide: !debt.archived,
                                class: 'ajax-link'
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_payments.backend_debt_path(debt),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="7"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
        
<%= erp_datalist_pagination(@debts) %>