<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <% if get_columns(params).include?("code") %>
                <th width='5%' class="text-left">
                    Mã số
                </th>
            <% end %>
            <% if get_columns(params).include?("name") %>
                <th width='25%' class="text-left">
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("account_number") %>
                <th>
                    <%= t('.account_number') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("owner") %>
                <th>
                    <%= t('.owner') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("balance") %>
                <th class="text-center">
                    <%= t('.balance') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_payments_accounts.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @accounts.each do |account| %>
            <tr class="<%= 'blurred' if account.is_deleted? %> odd gradeX">
                <% if get_columns(params).include?("code") %>
                    <td class="text-left bold"><%= account.code %></td>
                <% end %>
                <% if get_columns(params).include?("name") %>
                    <td class="text-left bold"><%= account.name %></td>
                <% end %>
                <% if get_columns(params).include?("account_number") %>
                    <td><%= account.account_number %></td>
                <% end %>
                <% if get_columns(params).include?("owner") %>
                    <td><%= account.owner %></td>
                <% end %>
                <% if get_columns(params).include?("balance") %>
                    <td class="font-yellow-gold text-center">
                        <%= format_number(account.account_balance(to_date: Time.now)) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <%= status_label(account.status) %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: account.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= format_date(account.created_at) %></td>
                <% end %>
                <td>
                    <%
                        actions = []
                        actions << {
                            text: '<i class="fa fa-edit"></i> '+t('edit'),
                            href: erp_payments.edit_backend_account_path(account)
                        }
                        actions << {
                            text: '<i class="fa fa-eye-slash"></i> '+t('archive'),
                            url: erp_payments.archive_backend_accounts_path(id: account),
                            data_method: 'PUT',
                            hide: account.archived,
                            class: 'ajax-link'
                        } if !Erp::Core.available?("ortho_k")
                        actions << {
                            text: '<i class="fa fa-eye"></i> '+t('unarchive'),
                            url: erp_payments.unarchive_backend_accounts_path(id: account),
                            data_method: 'PUT',
                            hide: !account.archived,
                            class: 'ajax-link'
                        } if !Erp::Core.available?("ortho_k")
                        actions << {
                            text: '<i class="fa fa-check"></i> '+t('.set_active'),
                            url: erp_payments.set_active_backend_accounts_path(id: account),
                            data_method: 'PUT',
                            hide: account.is_active?,
                            class: 'ajax-link'
                        }
                        actions << { divider: true } if !account.is_deleted?
                        actions << {
                            text: '<i class="fa fa-trash"></i> '+t('.set_deleted'),
                            url: erp_payments.set_deleted_backend_accounts_path(id: account),
                            data_method: 'PUT',
                            hide: account.is_deleted?,
                            class: 'ajax-link',
                            data_confirm: t('.set_deleted_confirm')
                        }
                    %>
                    <%= erp_datalist_row_actions(actions) %>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="7"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= erp_datalist_pagination(@accounts) %>
