<div class="custom-show text-center">
    <h4 class="font-blue-madison bold uppercase no-margin">
        Thông tin tài khoản giao dịch / thanh toán<br>
        <span class="font-sm">
            <% if @period_name.nil? %>
                (<%= 'Từ ' + @from_date.strftime('%d/%m/%Y') if !@from_date.nil? %><%= !@to_date.nil? ? ' Đến ' + @to_date.strftime('%d/%m/%Y') : ' đến nay' %>)
            <% else %>
                (<%= @period_name %>)
            <% end %>
        </span>
    </h4>
</div>

<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <% if get_columns(params).include?("name") %>
                <th width='25%' class="text-left">
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("account_number") %>
                <th>
                    <%= t('.account_number') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("owner") %>
                <th>
                    <%= t('.owner') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("beginning_balance") %>
                <th class="text-right">
                    <%= t('.beginning_balance') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("received_amount_in_period") %>
                <th class="text-right">
                    <%= t('.received_amount_in_period') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("paid_amount_in_period") %>
                <th class="text-right">
                    <%= t('.paid_amount_in_period') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("ending_balance") %>
                <th class="text-right">
                    <%= t('.ending_balance') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("payment_method") %>
                <th>
                    <%= t('.payment_method') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_payments_accounts.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @accounts.each do |account| %>
            <tr class="<%= 'blurred' if account.is_deleted? %> odd gradeX has-child-table"
                data-url="<%= erp_payments.account_details_backend_accounts_path(
                    id: account.id,
                    from_date: @from_date,
                    to_date: @to_date,
                ) %>">
                <% if get_columns(params).include?("name") %>
                    <td class="text-left">
                        <i class="fa fa-plus expand tr-expand-button"></i>
                        <strong><%= account.name %></strong>
                    </td>
                <% end %>
                <% if get_columns(params).include?("account_number") %>
                    <td><%= account.account_number %></td>
                <% end %>
                <% if get_columns(params).include?("owner") %>
                    <td><%= account.owner %></td>
                <% end %>
                <% if get_columns(params).include?("beginning_balance") %>
                    <td class="font-blue text-right bold">
                        <%= format_number(account.account_balance(to_date: (@from_date - 1.day))) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("received_amount_in_period") %>
                    <td class="text-right bold">
                        <%= format_number(account.received(from_date: @from_date, to_date: @to_date)) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("paid_amount_in_period") %>
                    <td class="font-red-flamingo text-right bold">
                        <%= format_number(account.paid(from_date: @from_date, to_date: @to_date)) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("ending_balance") %>
                    <td class="font-blue text-right bold">
                        <%= format_number(account.account_balance(to_date: @to_date)) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("payment_method") %>
                    <td class="text-left bold">
                        <%= 'Tiền mặt' if account.payment_method == Erp::Payments::Account::PAYMENT_METHOD_CASH %>
                        <%= 'Chuyển khoản' if account.payment_method == Erp::Payments::Account::PAYMENT_METHOD_ACCOUNT %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <%= status_label(account.status) %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: account.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= format_date(account.created_at) %></td>
                <% end %>
                <td>
                    <%= account_dropdown_actions(account) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @accounts.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@accounts) %>
