<% content_for :title do %>
    <%= @payment_term.name %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_payments.backend_payment_terms_path %>">
    <i class="fa fa-calendar"></i> <%= t('.payment_terms') %>
    </a> / <%= @payment_term.name %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_payments.new_backend_payment_term_path
    }) %>
<% end %>

<div class="row">
    <div class="col-md-6">
        <% if @payment_term.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <%= render 'form', payment_term: @payment_term %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>