<%= form_for([erp_payments, :backend, payment_record]) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-6">
                                <% if Erp::Core.available?("contacts") %>
                                    <%= erp_form_control("dataselect", {
                                        name: 'payment_record[contact_id]',
                                        value: payment_record.contact_id,
                                        text: payment_record.contact_name,
                                        placeholder: t('.choose_contact'),
                                        help: t('.help_contact'),
                                        label: t('.contact'),
                                        url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
                                        required: true,
                                        errors: payment_record.errors.full_messages_for(:contact_id)
                                    }) %>
                                <% end %>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>Tiền công nợ: <strong><%= format_price(12450000) %></strong></li>
                                    <li>Đã thanh toán: <strong><%= format_price(3000000) %></strong></li>
                                    <li>Chưa thanh toán: <strong><%= format_price(12450000-3000000) %></strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <%= render 'form_genaral', payment_record: payment_record %>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_payments.backend_payment_records_path
    }) %>
<% end %>