<%= form_for([erp_payments, :backend, payment_record]) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-show text-center">
                    <h4 class="font-yellow bold uppercase">
                        <%= t("#{payment_record.pay_receive}") %>
                        <%= t('.employee_commission') %>
                        <% if defined?(@period) %>
                            <%= @period.name %>
                        <% end %>
                    </h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("dataselect", {
                                    name: 'payment_record[employee_id]',
                                    value: payment_record.employee_id,
                                    text: payment_record.employee_name,
                                    placeholder: t('.choose_employee'),
                                    label: t('.employee'),
                                    url: erp.dataselect_backend_users_path(format: 'json'),
                                    required: true,
                                    errors: payment_record.errors.full_messages_for(:employee_id)
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <div class="ajax-box"
                                    data-url="<%= erp_payments.ajax_info_form_for_commission_backend_payment_records_path(params.to_unsafe_hash) %>"
                                    data-control="[name='payment_record[employee_id]']">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <%= render 'form_genaral', payment_record: payment_record %>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_payments.backend_payment_records_path
    }) %>
<% end %>
