<%= form_for([erp_payments, :backend, payment_record]) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-show text-center">
                    <h4 class="font-yellow bold uppercase">
                        <%= t("#{payment_record.pay_receive}") %>
                        <%= t(".#{payment_record.payment_type_name}") %>
                    </h4>
                </div>
            </div>
            <div class="col-md-12">
                <%= render 'form_genaral', payment_record: payment_record %>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_payments.backend_payment_records_path
    }) %>
<% end %>