<div class="ajax-box"
    data-url="<%= erp_payments.ajax_payment_type_limits_info_backend_payment_records_path(
        payment_type_id: payment_record.payment_type_id
    ) %>"
    data-control="
        [name='payment_record[payment_date]']
    ">
</div>

<div class="portlet light bordered">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <input type="hidden" name="payment_record[payment_type_id]" value="<%= @payment_record.payment_type.id %>">
                    <input type="hidden" name="payment_record[pay_receive]" value="<%= payment_record.pay_receive %>">
                    <div class="col-md-6">
                        <%= erp_form_control("text", {
                            name: 'payment_record[code]',
                            value: payment_record.code,
                            label: t('.payment_code'),
                            help: 'Mã phiếu sẽ tự động tạo nếu bạn để trống',
                            placeholder: t('.placeholder_payment_code')
                        }) %>
                    </div>
                    <div class="col-md-6">
                        <%= erp_form_control("date", {
                            name: 'payment_record[payment_date]',
                            value: payment_record.payment_date,
                            label: t('.payment_date'),
                            required: true,
                            errors: payment_record.errors.full_messages_for(:payment_date),
                        }) %>
                    </div>
                </div>

                <div class="ajax-box"
                    data-url="<%= erp_payments.ajax_address_field_backend_payment_records_path(
                        address: payment_record.address,
                    ) %>"
                    data-control="
                        [name='payment_record[customer_id]'],
                        [name='payment_record[supplier_id]'],
                        [name='payment_record[employee_id]'],
                        [name='payment_record[order_id]']
                    ">
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="ajax-box"
                            data-url="<%= erp_payments.ajax_amount_field_backend_payment_records_path(
                                amount: payment_record.amount,
                                payment_type_code: payment_record.payment_type_code,
                                period_id: params[:period_id]
                            ) %>"
                            data-control="
                                [name='payment_record[order_id]'],
                                [name='payment_record[customer_id]'],
                                [name='payment_record[supplier_id]'],
                                [name='payment_record[delivery_id]'],
                                [name='payment_record[employee_id]'],
                                [name='payment_record[pay_receive]']
                            ">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <%= erp_form_control("select", {
                            name: 'payment_record[payment_method]',
                            value: payment_record.payment_method,
                            text: payment_record.payment_method,
                            placeholder: 'Chọn phương thức thanh toán',
                            label: 'Phương thức thanh toán',
                            options: [
                                {text: 'Tiền mặt', value: Erp::Payments::PaymentRecord::PAYMENT_METHOD_CASH},
                                {text: 'Chuyển khoản', value: Erp::Payments::PaymentRecord::PAYMENT_METHOD_ACCOUNT},
                            ]
                        }) %>
                    </div>
                </div>
                <%= erp_form_control("text", {
                    name: 'payment_record[origin_doc]',
                    value: payment_record.origin_doc,
                    label: 'Chứng từ kèm theo',
                    placeholder: 'Nhập thông tin chứng từ kèm theo'
                }) %>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <%= erp_form_control("dataselect", {
                            name: 'payment_record[debit_account_id]',
                            value: payment_record.debit_account_id,
                            text: payment_record.debit_account_name,
                            placeholder: 'Chọn tài khoản nợ',
                            label: 'Tài khoản nợ',
                            url: erp_payments.dataselect_backend_accounting_accounts_path(format: 'json'),
                            create: {
                                url: erp_payments.new_backend_accounting_account_path,
                                title: t('.create'),
                                container_selector: '.new_accounting_account',
                                input_selector: 'input[name="accounting_account[name]"]'
                            },
                            required: true,
                            errors: payment_record.errors.full_messages_for(:debit_account_id)
                        }) %>
                    </div>
                    <div class="col-md-6">
                        <%= erp_form_control("dataselect", {
                            name: 'payment_record[credit_account_id]',
                            value: payment_record.credit_account_id,
                            text: payment_record.credit_account_name,
                            placeholder: 'Chọn tài khoản có',
                            label: 'Tài khoản có',
                            url: erp_payments.dataselect_backend_accounting_accounts_path(format: 'json'),
                            create: {
                                url: erp_payments.new_backend_accounting_account_path,
                                title: t('.create'),
                                container_selector: '.new_accounting_account',
                                input_selector: 'input[name="accounting_account[name]"]'
                            },
                            required: true,
                            errors: payment_record.errors.full_messages_for(:credit_account_id)
                        }) %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <%= erp_form_control("dataselect", {
                            name: 'payment_record[account_id]',
                            value: payment_record.account_id,
                            text: payment_record.account_name,
                            placeholder: t(".choose_bank_account_#{payment_record.pay_receive}"),
                            label: t('.bank_account'),
                            url: erp_payments.dataselect_backend_accounts_path(format: 'json'),
                            required: true,
                            errors: payment_record.errors.full_messages_for(:account_id)
                        }) %>
                    </div>
                    <div class="col-md-6">
                        <%= erp_form_control("dataselect", {
                            name: 'payment_record[accountant_id]',
                            value: payment_record.accountant_id,
                            text: payment_record.accountant_name,
                            placeholder: t('.choose_accountant'),
                            label: t('.accountant'),
                            url: erp.dataselect_backend_users_path(format: 'json'),
                            required: true,
                            errors: payment_record.errors.full_messages_for(:accountant_id)
                        }) %>
                    </div>
                </div>

                <%= erp_form_control("textarea", {
                    name: 'payment_record[description]',
                    value: payment_record.description,
                    label: t('.description'),
                    placeholder: "Ghi rõ nội dung mô tả, ghi chú hoặc lý do #{t('.'+payment_record.pay_receive)}",
                    rows: 5
                }) %>
            </div>
        </div>
    </div>
</div>
