<%= form_for([erp_payments, :backend, payment_record]) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-show text-center">
                    <h4 class="font-yellow bold uppercase">
                        <%= t("#{payment_record.pay_receive}") %>
                        <%= t(".#{payment_record.payment_type_name}") %>
                    </h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-4">
                                <% if Erp::Core.available?("contacts") %>
                                    <%= erp_form_control("dataselect", {
                                        name: 'payment_record[customer_id]',
                                        value: payment_record.customer_id,
                                        text: payment_record.customer_name,
                                        placeholder: 'Chọn khách hàng',
                                        label: 'Khách hàng',
                                        url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true),
                                        errors: payment_record.errors.full_messages_for(:customer_id)
                                    }) %>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <% if Erp::Core.available?("contacts") %>
                                    <%= erp_form_control("dataselect", {
                                        name: 'payment_record[supplier_id]',
                                        value: payment_record.supplier_id,
                                        text: payment_record.supplier_name,
                                        placeholder: 'Chọn NCC',
                                        label: 'Nhà CC',
                                        url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_supplier: true),
                                        errors: payment_record.errors.full_messages_for(:supplier_id)
                                    }) %>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <%= erp_form_control("dataselect", {
                                    name: 'payment_record[employee_id]',
                                    value: payment_record.employee_id,
                                    text: payment_record.employee_name,
                                    placeholder: 'Chọn nhân viên',
                                    label: 'Nhân viên',
                                    url: erp.dataselect_backend_users_path(format: 'json'),
                                    errors: payment_record.errors.full_messages_for(:employee_id)
                                }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <%= render 'form_genaral', payment_record: payment_record %>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <input type="submit" name="save_print" value="LƯU & IN PHIẾU" class="btn green-seagreen" />
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_payments.backend_payment_records_path
    }) %>
<% end %>
