<%= form_for([erp_payments, :backend, payment_record]) do |f| %>    
    <input type="hidden" name="payment_record[order_id]" value="<%= params[:order_id] %>">
    <input type="hidden" name="payment_record[payment_type]" value="<%= params[:payment_type] %>">
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("text", {
                            name: 'payment_record[code]',
                            value: payment_record.code,
                            label: t('.code')
                        }) %>
                        <%= erp_form_control("date", {
                            name: 'payment_record[payment_date]',
                            value: payment_record.payment_date,                   
                            label: t('.payment_date')
                        }) %>
                        <% if Erp::Core.available?("contacts") %>
                            <%= erp_form_control("dataselect", {
                                name: 'payment_record[contact_id]',
                                value: payment_record.contact_id,
                                text: payment_record.contact_name,
                                placeholder: t('.choose_contact'),
                                help: params[:payment_type] == Erp::Payments::PaymentRecord::PAYMENT_TYPE_PAY ? t('.help_contact_receive') : t('.help_contact_pay'),
                                label: params[:payment_type] == Erp::Payments::PaymentRecord::PAYMENT_TYPE_PAY ? t('.contact_receive') : t('.contact_pay'),
                                url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
                                create: {
                                    url: erp_contacts.new_backend_contact_path,
                                    title: t('.create'),
                                    container_selector: '.new_contact',
                                    input_selector: 'input[name="contact[name]"]'
                                }
                            }) %>
                        <% end %>
                        <%= erp_form_control("number", {
                            name: 'payment_record[amount]',
                            value: payment_record.amount,                   
                            label: t('.amount')
                        }) %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("dataselect", {
                            name: 'payment_record[accountant_id]',
                            value: payment_record.accountant_id,
                            text: payment_record.accountant_name,
                            placeholder: t('.choose_accountant'),
                            label: t('.accountant'),
                            url: erp.dataselect_backend_users_path(format: 'json')
                        }) %>
                        <%= erp_form_control("textarea", {
                            name: 'payment_record[note]',
                            value: payment_record.note,                   
                            label: t('.note')
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_payments.backend_payment_records_path
    }) %>
<% end %>