<%= form_for([erp_payments, :backend, payment_record]) do |f| %>
    <input type="hidden" name="payment_record[order_id]" value="<%= params[:order_id] %>">
    <input type="hidden" name="payment_record[ptype]" value="<%= params[:ptype] %>">
    <div class="form-body">
        <div class="row">
            <% if params[:order_id].present? or payment_record.order_id.present? %>
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-body form">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>Mã đơn hàng: <strong><%= payment_record.order_code(params) %></strong></li>
                                        <li>Khách hàng: <strong><%= payment_record.order_customer(params) %></strong></li>
                                        <li>Ngày đặt hàng: <strong><%= format_date(payment_record.order_date(params)) %></strong></li>
                                        <li>Hạn thanh toán: <strong><%= format_date(payment_record.payment_deadline(params)) %></strong></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>Tổng tiền cần thanh toán: <strong><%= payment_record.order_total(params) %></strong></li>
                                        <li>Tổng tiền đã thanh toán: <strong><%= payment_record.order_paid_amount(params) %></strong></li>
                                        <li>Tổng tiền còn lại: <strong><%= payment_record.order_remain_amount(params) %></strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("text", {
                            name: 'payment_record[code]',
                            value: payment_record.code,
                            label: params[:ptype] == Erp::Payments::PaymentRecord::TYPE_PAY ? t('.code_pay') : t('.code_receive'),
                            placeholder: t('.placeholder_code'),
                            help: t('.help_code')
                        }) %>
                        <%= erp_form_control("date", {
                            name: 'payment_record[payment_date]',
                            value: payment_record.payment_date,
                            label: t('.payment_date'),
                            required: true,
                            errors: payment_record.errors.full_messages_for(:payment_date),
                        }) %>
                        <% if Erp::Core.available?("contacts") %>
                            <%= erp_form_control("dataselect", {
                                name: 'payment_record[contact_id]',
                                value: payment_record.contact_id,
                                text: payment_record.contact_name,
                                placeholder: t('.choose_contact'),
                                help: params[:ptype] == Erp::Payments::PaymentRecord::TYPE_PAY ? t('.help_contact_receive') : t('.help_contact_pay'),
                                label: params[:ptype] == Erp::Payments::PaymentRecord::TYPE_PAY ? t('.contact_receive') : t('.contact_pay'),
                                url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
                                required: true,
                                errors: payment_record.errors.full_messages_for(:contact_id),
                                create: {
                                    url: erp_contacts.new_backend_contact_path,
                                    title: t('.create'),
                                    container_selector: '.new_contact',
                                    input_selector: 'input[name="contact[name]"]'
                                }
                            }) %>
                        <% end %>
                        <%= erp_form_control("number", {
                            name: 'payment_record[amount]',
                            value: payment_record.amount,
                            label: t('.amount')
                        }) %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("dataselect", {
                            name: 'payment_record[accountant_id]',
                            value: payment_record.accountant_id,
                            text: payment_record.accountant_name,
                            placeholder: t('.choose_accountant'),
                            label: t('.accountant'),
                            url: erp.dataselect_backend_users_path(format: 'json'),
                            required: true,
                            errors: payment_record.errors.full_messages_for(:accountant_id)
                        }) %>
                        <%= erp_form_control("textarea", {
                            name: 'payment_record[description]',
                            value: payment_record.description,
                            label: params[:ptype] == Erp::Payments::PaymentRecord::TYPE_PAY ? t('.pay_description') : t('.receive_description')
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <input type="submit" name="save_print" value="LƯU & IN PHIẾU" class="btn green-seagreen" />
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_payments.backend_payment_records_path
    }) %>
<% end %>
