<% if @order.present? %>
    <div class="alert alert-info no-margin">
        <table class="table table-info-detail no-margin">
            <% if @order.sales? %>
                <input type="hidden" name="payment_record[customer_id]" value="<%= @contact.id %>">
            <% end %>
            <% if @order.purchase? %>
                <input type="hidden" name="payment_record[supplier_id]" value="<%= @contact.id %>">
            <% end %>
            
            <tbody>
                <tr>
                    <td> <%= @order.sales? ? 'Tên khách hàng' : 'Tên nhà cung cấp' %>: </td>
                    <td>
                        <strong><%= @contact.name %></strong>
                    </td>
                </tr>
                <tr>
                    <td> Ngày đặt hàng: </td>
                    <td>
                        <strong><%= format_date(@order.order_date) %></strong>
                    </td>
                </tr>
                <tr>
                    <td> Tổng tiền mua hàng: </td>
                    <td>
                        <strong><%= format_price(@order.cache_total) %></strong>
                    </td>
                </tr>
                <tr>
                    <td> Tổng đã thanh toán: </td>
                    <td>
                        <strong><%= format_price(@order.paid_amount) %></strong>
                    </td>
                </tr>
                <tr>
                    <td> Tổng phải thu (còn lại): </td>
                    <td>
                        <strong><%= format_price(@order.remain_amount) %></strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<% end %>