<% content_for :title do %>
    <%= t('.commission') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-bar-chart-o"></i> <%= t('.commission') %>
<% end %>

<% content_for :page_toolbar do %>
    
<% end %>

<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.from_date'),
                name: 'from_date',
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.to_date'),
                name: 'to_date',
                placeholder: t('.select_to_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'employee',
                label: t('.filter_employee'),
                placeholder: t('.choose_employee'),
                url: erp.dataselect_backend_users_path(format: 'json'),
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_payments.commission_table_backend_payment_records_path,
    keywords: [
        
    ],
    actions: [
        
    ],
    filters: [
        
    ],
    columns: [
        {
            text: t('.employee'), name: 'employee', value: true, checked: true
        },
        {
            text: t('.total_revenue'), name: 'total_revenue', value: true, checked: true
        },
        {
            text: t('.total_received'), name: 'total_received', value: true, checked: true
        },
        {
            text: t('.total_remain'), name: 'total_remain', value: true, checked: true
        },
        {
            text: t('.total_commission'), name: 'total_commission', value: true, checked: true
        }
    ],
    sort: {  }
) %>