<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_5_1" data-toggle="tab">
                <i class="glyphicon glyphicon-list-alt"></i>
                <%= t('.orders_list') %>
            </a>
        </li>
        <li>
            <a href="#tab_5_2" data-toggle="tab">
                <i class="icon-users"></i>
                <%= t('.contacts_list') %>
            </a>
        </li>
        <li>
            <a href="#tab_5_3" data-toggle="tab">
                <i class="icon-target"></i>
                <%= t('.commission_with_target') %>
            </a>
        </li>
        <li>
            <a href="#tab_5_4" data-toggle="tab">
                <i class="icon-bar-chart"></i>
                <%= t('.commission_with_revenue') %>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_5_1">
            <table class="table table-bordered table-advance order-column">
                <thead class="flip-content">
                    <tr>
                        <th width="12%" class="text-left bg-yellow bg-font-yellow text-nowrap">Mã hóa đơn</th>
                        <th class="bg-yellow bg-font-yellow text-nowrap">Ngày chứng từ</th>
                        <th class="bg-yellow bg-font-yellow text-nowrap">Tổng cộng</th>
                        <th class="bg-yellow bg-font-yellow text-nowrap">Số tiền đã thu</th>
                        <th class="bg-yellow bg-font-yellow text-nowrap">Số tiền còn lại</th>
                        <th class="bg-yellow bg-font-yellow text-nowrap text-right">Hoa hồng (%)</th>
                        <th class="bg-yellow bg-font-yellow text-nowrap text-right">Tiền chi hoa hồng</th>
                        <th class="bg-yellow bg-font-yellow text-nowrap text-right">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-green" colspan="2"><strong> Tổng cộng </strong></td>
                        <td class="bg-green text-right"><strong><%= format_price(@orders.sum(&:total)) %></strong></td> <!-- @todo sum total for orders -->
                        <td class="bg-green text-right"><strong><%= format_price(10000000) %></strong></td>
                        <td class="bg-green text-right"><strong><%= format_price(10000000) %></strong></td>
                        <td class="bg-green text-right"><strong></strong></td>
                        <td class="bg-green text-right"><strong><%= format_price(10000) %></strong></td>
                        <td class="bg-green text-right"><strong></strong></td>
                    </tr>
                    <% @orders.each do |order| %>
                        <tr>
                            <td class="text-left"><strong><%= link_to order.code, 'javascript:;' %></strong></td> <!-- @todo modal link_to for order details -->
                            <td class="text-right"><%= format_date(order.order_date) %></td>
                            <td class="text-right"><%= format_price(order.cache_total) %></td>
                            <td class="text-right"><%= format_price(10000000) %></td>
                            <td class="text-right"><%= format_price(10000000) %></td>
                            <td class="text-right">0.5%</td>
                            <td class="text-right"><%= format_price(10000) %></td>
                            <td class="text-right"></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_5_2">
            <table class="table table-bordered table-advance order-column">
                <thead class="flip-content">
                    <tr>
                        <th width="20%" class="bg-yellow bg-font-yellow text-nowrap text-left">Tên khách hàng</th>
                        <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Số tiền thu</th>
                        <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Hoa hồng (%)</th>
                        <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Tiền chi hoa hồng</th>
                        <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-green"><strong></strong></td>
                        <td class="bg-green text-right"><strong><%= format_price(1000000000) %></strong></td> <!-- @todo sum amount for payment records -->
                        <td class="bg-green text-right"><strong></strong></td>
                        <td class="bg-green text-right"><strong><%= format_price(1000000) %></strong></td>
                        <td class="bg-green text-right"><strong></strong></td>
                    </tr>
                    <% @contacts.each do |contact| %>
                        <tr>
                            <td class="text-left"><strong><%= link_to contact.name, 'javascript:;' %></strong></td>
                            <td class="text-right"><%= format_price(rand(1000000..1000000000)) %></td>
                            <td class="text-right"><%= rand(0.1..0.5).round(1) %>%</td>
                            <td class="text-right"><%= format_price(rand(1000000..1000000000)) %></td>
                            <td class="text-right"></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_5_3">
            <div class="m-grid m-grid-demo">
                <div class="m-grid-row">
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.target_amount') %> <br><strong><%= format_price(421057000) %></strong></div>
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.total_sales_amount') %> <br><strong><%= format_price(616998000) %></strong></div>
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.amount_received') %> <br><strong><%= format_price(484328000) %></strong></div>
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.percentage_achieved') %> <br><strong><%= 115.to_s + '%' %></strong></div>
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.commission_amount') %> <br><strong><%= format_price(1500000) %></strong></div>
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.notes') %> <br><strong><%= '3 ca' %></strong></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_5_4">
            <div class="m-grid m-grid-demo">
                <div class="m-grid-row">
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center">Tổng doanh thu: <br><strong><%= format_price(Erp::Payments::PaymentRecord.revenue_by_period) %></strong></div>
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center">Target: <br><strong><%= format_price(100000) %></strong></div>
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center">Target đã đạt: <br><strong><%= format_price(1000000) %></strong></div>
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center">Tổng doanh thu 1%: <br><strong><%= format_price(16394213) %></strong></div>
                    <div class="m-grid-col m-grid-col-middle m-grid-col-center">Số tiền được thưởng: <br><strong><%= format_price(1171015) %></strong></div>
                </div>
            </div>
        </div>
    </div>
</div