<% uid = unique_id %>
<div class="tabbable-custom ">    
    <div class="portlet m-grid m-grid-demo">
        <div class="m-grid-row">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center bg-yellow bg-font-yellow">
                <%= 'Hoa hồng trên đơn hàng:' %><br>
                <strong>
                    <%= format_price(@payment_for_order_sales_commission_amount) %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center bg-yellow bg-font-yellow">
                <%= 'Hoa hồng thu công nợ:' %><br>
                <strong>
                    <%= format_price(@new_account_commission_amount + @payment_for_contact_sales_commission_amount) %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center bg-yellow bg-font-yellow">
                <%= 'Thưởng theo target:' %><br>
                <strong>
                    <%= @target.present? ? format_price(@employee.employee_target_commission_amount(@options)) : '--' %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center bg-yellow bg-font-yellow">
                <%= 'Thưởng doanh thu (1%):' %><br>
                <strong>
                    <%= @company_target.present? ? format_price(@company_target.commission_amount) : '--' %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center bg-yellow bg-font-yellow">
                <%= 'Tổng hoa hồng:' %><br>
                <strong class="bold font-lg">
                    <%= format_price(@employee.commission_amount(@options)) %>
                </strong>
            </div>
        </div>
    </div>
    
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_<%= uid %>_0" data-toggle="tab">
                <i class="glyphicon glyphicon-list-alt"></i>
                HH thu công nợ
            </a>
        </li>
        <li>
            <a href="#tab_<%= uid %>_1" data-toggle="tab">
                <i class="glyphicon glyphicon-list-alt"></i>
                HH thu bán lẻ
            </a>
        </li>
        <% if false %>
            <li>
                <a href="#tab_<%= uid %>_2" data-toggle="tab">
                    <i class="icon-users"></i>
                    Hoa hồng thu công nợ
                </a>
            </li>
        <% end %>
        <li>
            <a href="#tab_<%= uid %>_3" data-toggle="tab">
                <i class="icon-target"></i>
                <%= t('.commission_with_target') %>
            </a>
        </li>
        <li>
            <a href="#tab_<%= uid %>_4" data-toggle="tab">
                <i class="icon-bar-chart"></i>
                <%= t('.commission_with_revenue') %>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_<%= uid %>_0">
            <%= erp_datalist(url: erp_payments.commission_from_debts_backend_payment_records_path(
                    employee_id: params[:employee_id],
                    from_date: @options[:from_date],
                    to_date: @options[:to_date]
                )
            ) %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_1">
            <% if @payment_for_order_sales_payment_records.count > 0 %>
                <table class="table table-bordered table-advance order-column">
                    <thead class="flip-content">
                        <tr>
                            <th width="12%" class="text-left bg-yellow bg-font-yellow text-nowrap">Mã hóa đơn</th>
                            <th width="12%" class="text-left bg-yellow bg-font-yellow text-nowrap">Mã phiếu</th>
                            <th class="text-left bg-yellow bg-font-yellow text-nowrap">Khách hàng</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap">Ngày chứng từ</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap">Tổng cộng</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap">Số tiền đã thu</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-right">Tiền chi hoa hồng</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-right">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-green" colspan="4"><strong> Tổng cộng </strong></td>
                            <td class="bg-green text-right"><strong><%= format_price(@payment_for_order_sales_total) %></strong></td> <!-- @todo sum total for orders -->
                            <td class="bg-green text-right"><strong><%= format_price(@payment_for_order_sales_paid_amount) %></strong></td>
                            <td class="bg-green text-right"><strong class="text-danger"><%= format_price(@payment_for_order_sales_commission_amount) %></strong></td>
                            <td class="bg-green text-right"></td>
                        </tr>
                        <% @payment_for_order_sales_payment_records.each do |pr| %>
                            <tr>
                                <td class="text-left"><strong><%= link_to pr.order.code, 'javascript:;' %></strong></td>
                                <td class="text-left"><strong><%= link_to pr.code, 'javascript:;' %></strong></td> <!-- @todo modal link_to for order details -->
                                <td class="text-left"><%= pr.order.customer_name %></td>
                                <td class="text-left"><%= format_date(pr.order.order_date) %></td>
                                <td class="text-right"><%= format_price(pr.order.total) %></td>
                                <td class="text-right"><%= format_price(pr.amount) %></td>
                                <td class="text-right"><%= format_price(pr.for_order_commission_amount) %></td>
                                <td class="text-right"><%= pr.description %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <br/>
                <h4>Tổng cộng: <strong class="text-danger"><%= format_price(@payment_for_order_sales_commission_amount) %></strong></h4>
            <% else %>
                <div class="alert alert-warning alert-dismissable no-margin">
                    Chưa có khoản thu nào được ghi nhận trong kỳ này!
                </div>
            <% end %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_2">
            <% if @payment_for_contact_sales_payment_records.count > 0 %>
                <table class="table table-bordered table-advance order-column">
                    <thead class="flip-content">
                        <tr>
                            <th width="20%" class="bg-yellow bg-font-yellow text-nowrap text-left">Chứng từ</th>
                            <th width="20%" class="bg-yellow bg-font-yellow text-nowrap text-left">Ngày thu</th>
                            <th width="20%" class="bg-yellow bg-font-yellow text-nowrap text-left">Tên khách hàng</th>
                            <!--<th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Tổng mua hàng</th>-->
                            <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Trừ chiết khấu</th>
                            <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Số tiền thu</th>
                            <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">New Acc</th>
                            <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Hoa hồng (%)</th>
                            <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Tiền chi hoa hồng</th>
                            <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-green"><strong></strong></td>
                            <td class="bg-green"><strong></strong></td>
                            <td class="bg-green"><strong></strong></td>
                            <!--<td class="bg-green text-right"><strong>-->

                            </strong></td>
                            <td class="bg-green text-right"><strong>

                            </strong></td>
                            <td class="bg-green text-right"><strong>

                            </strong></td>
                            <td class="bg-green text-right"><strong class="text-danger"><%= format_price(@new_account_commission_amount) %></strong></td>
                            <td class="bg-green text-right"><strong></strong></td>
                            <td class="bg-green text-right"><strong class="text-danger">
                                <%= format_price(@payment_for_contact_sales_commission_amount) %>
                            </strong></td>
                            <td class="bg-green text-right"><strong></strong></td>
                        </tr>
                        <% @payment_for_contact_sales_payment_records.each do |pr| %>
                            <tr>
                                <td class="text-left"><%= pr.code %></td>
                                <td class="text-left"><%= format_date(pr.payment_date) %></td>
                                <td class="text-left"><strong><%= link_to pr.customer.name, 'javascript:;' %></strong></td>
                                <!--<td class="text-right"><%= format_price(pr.customer.sales_total_amount(to_date: @options[:to_date])) %></td>-->
                                <td class="text-right"><%= format_price(pr.calculate_commission_amount(@options)) %></td>
                                <td class="text-right"><%= format_price(pr.amount) %></td>
                                <td class="text-right"><%= format_price(pr.new_account_commission_amount) %></td>
                                <td class="text-right"><%= pr.customer_commission_percent.to_f %>%</td>
                                <td class="text-right"><%= format_price(pr.for_contact_commission_amount(@options)) %></td>
                                <td class="text-right"><%= pr.description %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <br/>
                <h4>Tổng cộng: <strong class="text-danger"><%= format_price(@new_account_commission_amount + @payment_for_contact_sales_commission_amount) %></strong></h4>
            <% else %>
                <div class="alert alert-warning alert-dismissable no-margin">
                    Chưa có khoản thu nào được ghi nhận trong kỳ này!
                </div>
            <% end %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_3">
            <% if true %>

                <table class="table table-bordered table-advance order-column">
                    <tr>
                        <th width="1%">1</th>
                        <th width="30%" class="text-left">Doanh số thu bán lẻ (<%= @payment_for_order_sales_payment_records.count %> ca)</th>
                        <td class="text-right">
                            <%= format_price(@employee.revenue_sales_order_by_period(@period)) %>
                        </td>
                    </tr>
                    <tr>
                        <th width="1%">2</th>
                        <th width="30%" class="text-left">Doanh số thu công nợ</th>
                        <td class="text-right">
                            <%= format_price(@employee.revenue_customer_by_period(@period)) %>
                        </td>
                    </tr>
                    <tr>
                        <th width="1%">3</th>
                        <th width="30%" class="text-left">Chiết khấu cho khách hàng</th>
                        <td class="text-right">
                            <%= format_price(@employee.revenue_customer_commission_by_period(@period)) %>
                        </td>
                    </tr>
                    <tr>
                        <th width="1%">4</th>
                        <th width="30%" class="text-left">Tổng doanh thu (= 1 + 2 - 3)</th>
                        <td class="text-right text-bold">
                            <%= format_price(@employee.revenue_by_period(@period)) %>
                        </td>
                    </tr>
                    <tr>
                        <th width="1%">5</th>
                        <th width="30%" class="text-left"><%= t('.target_amount') %></th>
                        <td class="text-right text-bold"><%= @target.present? ? format_price(@target.amount) : '--' %></td>
                    </tr>
                    <tr>
                        <th width="1%">6</th>
                        <th width="30%" class="text-left"><%= t('.percentage_achieved') %> (mốc)</th>
                        <td class="text-right text-bold">
                            <%= @target.present? ? (@employee.target_commission_by_period(@period).present? ? @employee.target_commission_by_period(@period).percent.to_s + '%' : 'Chưa đạt') : '--' %>
                        </td>
                    </tr>
                    <tr>
                        <th width="1%">7</th>
                        <th width="30%" class="text-left"><%= t('.commission_amount') %></th>
                        <td class="text-right text-bold text-danger text-lg">
                            <%= @target.present? ? format_price(@employee.employee_target_commission_amount(@options)) : '--' %>
                        </td>
                    </tr>
                </table>
            <% else %>
                <div class="alert alert-warning alert-dismissable no-margin">
                    Chưa có target tương ứng cho nhân viên trong kỳ này!
                </div>
            <% end %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_4">
            <% if !@company_target.present? %>
                <div class="alert alert-warning alert-dismissable no-margin">
                    Chưa có target công ty trong kỳ này!
                </div>
            <% else %>
                <div class="m-grid m-grid-demo">
                    <div class="m-grid-row">
                        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                            Tổng doanh thu: <br><strong>
                            <%= format_price(@company_target.revenue) %>
                        </strong></div>
                        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                            Target: <br><strong>
                            <%= format_price(@company_target.amount) %>
                        </strong></div>
                        <% if @company_target.reached_target? %>
                            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                                Tổng doanh thu 1%: <br><strong>
                                <%= format_price(@company_target.revenue_1_percent) %>
                            </strong></div>
                            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                                Số tiền được thưởng<br>(Tổng doanh thu/<strong><%= Erp::User.employee_count %></strong> nhân viên): <br><strong>
                                <%= format_price(@company_target.commission_amount) %>
                            </strong></div>
                        <% else %>
                            <div class="m-grid-col m-grid-col-middle m-grid-col-center"><strong class="text-warning">
                                Chưa đạt target
                            </strong></div>
                        <% end %>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
</div
