<% content_for :title do %>
    <%= t('.payment_records') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-credit-card"></i> <%= t('.payment_records') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create_receive'),
        href: erp_payments.new_backend_payment_record_path(payment_type: Erp::Payments::PaymentRecord::PAYMENT_TYPE_RECEIVE),
        class: 'btn-sm'
    }) %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create_pay'),
        href: erp_payments.new_backend_payment_record_path(payment_type: Erp::Payments::PaymentRecord::PAYMENT_TYPE_PAY),
        class: 'btn-sm'
    }) %>
<% end %>

<div class="row top-datalist">
    <div class="col-md-12">
        <%= erp_form_control('dateranges', {
            form_group: 'no'
        }) %>
    </div>
</div>

<%= erp_datalist(
    url: erp_payments.list_backend_payment_records_path,
    keywords: [
        {
            text: t('.code'), name: 'erp_payments_payment_records.code'
        },
        {
            text: t('.receiver_payer'),
            name: '',
            select: {
                name: 'erp_contacts_contacts.id',
                data_url: erp_contacts.dataselect_backend_contacts_path
            }
        },
        {
            text: t('creator'),
            name: 'erp_users.name',
            select: {
                name: 'erp_users.id',
                data_url: erp.dataselect_backend_users_path
            }
        }
    ],
    actions: [
        
        {
            text: '<i class="fa fa-check"></i> '+t('confirm'),
            url: erp_payments.confirm_all_backend_payment_records_path,
            data_method: 'PUT',
            data_confirm: t('.confirm_confirm')
        },
        {
            divider: true
        },
        {
            text: '<i class="fa fa-trash"></i> '+t('.delete'),
            url: erp_payments.delete_all_backend_payment_records_path,
            data_method: 'DELETE',
            data_confirm: t('delete_confirm')
        }
    ],
    filters: [
        {
            text: t('.cash'), name: 'cash', value: true, checked: false
        },
        {
            text: t('.bank_account'), name: 'bank_account', value: true, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.order_receive'), name: 'order_receive', value: true, checked: false
        },
        {
            text: t('.order_pay'), name: 'order_pay', value: true, checked: false
        },
        {
            text: t('.other_receive'), name: 'other_receive', value: true, checked: false
        },
        {
            text: t('.other_pay'), name: 'other_pay', value: true, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.payment_record_archived'), name: 'show_archived', value: true, checked: false
        }
    ],
    columns: [
        {
            text: t('.code'), name: 'code', value: true, checked: true
        },
        {
            text: t('.payment_date'), name: 'payment_date', value: true, checked: true
        },
        {
            text: t('.payment_type'), name: 'payment_type', value: true, checked: true
        },
        {
            text: t('.partner_name'), name: 'partner_name', value: true, checked: true
        },
        {
            text: t('.amount'), name: 'amount', value: true, checked: true
        },
        {
            text: t('.description'), name: 'description', value: true, checked: false
        },
        {
            text: t('status'), name: 'status', value: true, checked: true
        },
        {
            text: t('creator'), name: 'creator', value: true, checked: false
        },
        {
            text: t('created_at'), name: 'created_at', value: true, checked: true
        }
    ],
    sort: { sort_by: 'erp_payments_payment_records.created_at', sort_direction: 'desc' }
) %>