<% uid = unique_id %>
<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_<%= uid %>_1" data-toggle="tab">
                <i class="fa fa-bar-chart"></i>
                Thống kê công nợ
            </a>
        </li>        
        <li>
            <a href="#tab_<%= uid %>_2" data-toggle="tab">
                <i class="icon-basket"></i>
                <%= t('.sales_export_list') %>
            </a>
        </li>
        <li>
            <a href="#tab_<%= uid %>_3" data-toggle="tab">
                <i class="icon-action-undo"></i>
                <%= t('.sales_import_list') %>
            </a>
        </li>
        <li class="">
            <a href="#tab_<%= uid %>_4" data-toggle="tab">
                <i class="icon-clock"></i>
                <%= t('.payment_records_list') %>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_<%= uid %>_1">
            <%= erp_datalist(url: erp_payments.liabilities_tracking_periods_list_backend_payment_records_path(
                    customer_id: params[:customer_id],
                    from_date: params[:from_date],
                    to_date: params[:to_date]
                )
            ) %>
        </div>        
        <div class="tab-pane" id="tab_<%= uid %>_2">
            <%= erp_datalist(url: erp_payments.liabilities_tracking_sales_export_list_backend_payment_records_path(
                    customer_id: params[:customer_id],
                    from_date: params[:from_date],
                    to_date: params[:to_date]
                )
            ) %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_3">
            <%= erp_datalist(url: erp_payments.liabilities_tracking_sales_import_list_backend_payment_records_path(
                    customer_id: params[:customer_id],
                    from_date: params[:from_date],
                    to_date: params[:to_date]
                )
            ) %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_4">
            <form class="more-filter">
                <div class="row mb-25">
                    <div class="col-md-4 text-left">
                        <%= erp_form_control('date', {
                            label: 'Từ ngày',
                            name: 'from_date',
                            placeholder: 'Chọn lọc từ ngày bắt đầu'
                        }) %>
                    </div>
                    <div class="col-md-4 text-left">
                        <%= erp_form_control('date', {
                            label: 'Đến ngày',
                            name: 'to_date',
                            placeholder: 'Chọn lọc đến ngày cuối'
                        }) %>
                    </div>
                    <div class="col-md-4 text-left">
                        <%= erp_form_control("dataselect", {
                            name: 'period',
                            label: 'Chu kỳ',
                            placeholder: 'Chọn lọc theo chu kỳ',
                            url: erp_periods.dataselect_backend_periods_path(format: 'json'),
                        }) %>
                    </div>
                </div>
            </form>
            <%= erp_datalist(url: erp_payments.liabilities_tracking_payment_records_list_backend_payment_records_path(
                    customer_id: params[:customer_id]
                )
            ) %>
        </div>
    </div>
</div
