<% if @orders.count > 0 %>
    <h4 class="profile-desc-title bold"><i class="glyphicon glyphicon-hand-right"></i> Chi tiết bán hàng</h4>
    <table class="table table-bordered table-advance order-column">
        <thead class="flip-content">
            <tr>
                <td class="text-center bold" colspan="4">Tổng cộng</td>
                <td class="stock-num text-center bold font-red-thunderbird">
                    <%= @full_orders.sum(&:items_count) %>
                </td>
                <td class="stock-num text-right bold font-red-thunderbird">
                    <%= format_number(@full_orders.sum(&:discount_amount)) %>
                </td>
                <td class="stock-num text-right bold font-red-thunderbird">
                    <%= format_number(@full_orders.sum(&:total_without_tax)) %>
                </td>
                <td class="stock-num text-right bold font-red-thunderbird">
                    <%= format_number(@full_orders.sum(&:tax_amount)) %>
                </td>
                <td class="stock-num text-right bold font-red-thunderbird">
                    <%= format_number(@full_orders.sum(&:total)) %>
                    <span style="display: none" data-cache="<%= format_number(@full_orders.sum(&:cache_total)) %>"></span>
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">Mã hóa đơn</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">Ngày đặt hàng</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left"></th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Đơn giá</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center">Số lượng</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Giảm giá</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Thành tiền</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Thuế</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Tổng cộng</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">NV kinh doanh</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center"><%= t('.actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td class="bg-grey bg-font-grey text-left text-nowrap bold"><%= order_link(order) %></td>
                    <td class="bg-grey bg-font-grey text-center bold"><%= format_date(order.order_date) %></td>
                    <td class="bg-grey bg-font-grey text-left" colspan="2">
                        <% if Erp::Core.available?("ortho_k") %>
                            <% if order.patient.present? or order.patient_state.present? %>
                                <strong>BN: </strong>
                                <% if order.patient.present? and order.patient_state.present? %>
                                    <%= order.patient_name %> (<%= order.patient_state_name %>)
                                <% else %>
                                    <%= order.patient_name %><%= order.patient_state_name %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                    <td class="bg-grey bg-font-grey text-center bold"><%= order.items_count %></td>
                    <td class="bg-grey bg-font-grey text-right bold"><%= format_number(order.discount_amount) %></td>
                    <td class="bg-grey bg-font-grey text-right bold"><%= format_number(order.total_without_tax) %></td>
                    <td class="bg-grey bg-font-grey text-right bold"><%= format_number(order.tax_amount) %></td>
                    <td class="bg-grey bg-font-grey text-right bold"><%= format_number(order.total) %></td>
                    <td class="bg-grey bg-font-grey text-left"><%= order.employee_name %></td>
                    <td class="bg-grey text-right">
                        <%= accounting_order_dropdown_actions(order) %>
                    </td>
                </tr>
                <% order.order_details.each do |order_detail| %>
                    <tr>
                        <!--<td class="text-left" colspan="2"></td>-->
                        <td class="text-left" colspan="3"><%= order_detail.product_name %></td>
                        <td class=" text-right"><%= format_number(order_detail.price) %></td>
                        <td class=" text-center"><%= order_detail.quantity %></td>
                        <td class=" text-right"><%= format_number(order_detail.discount_amount) %></td>
                        <td class=" text-right"><%= format_number(order_detail.total_without_tax) %></td>
                        <td class=" text-right"><%= format_number(order_detail.tax_amount) %></td>
                        <td class=" text-right"><%= format_number(order_detail.total) %></td>
                        <td class="text-left" colspan="2"></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    <%= erp_datalist_pagination(@orders) %>
    
    <div>
        <a target="_blank" href="<%= erp_accounting.update_discount_backend_sales_orders_path(params.to_unsafe_hash.merge(customer_id: params[:customer_id])) %>" class="btn btn-primary">Tính giảm giá</a>
    </div>
<% else %>
    <div class="alert alert-warning alert-dismissable no-margin text-center">
        Không tìm thấy chi tiết bán hàng kỳ này!
    </div>
<% end %>