<% uid = unique_id %>
<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_<%= uid %>_1" data-toggle="tab">
                <i class="fa fa-history"></i>
                <%= t('.payment_records_list') %>
            </a>
        </li>

        <li>
            <a href="#tab_<%= uid %>_2" data-toggle="tab">
                <i class="glyphicon glyphicon-list-alt"></i>
                <%= t('.orders_list') %>
            </a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_<%= uid %>_1">
            <% if @payment_records.count > 0 %>
                <table class="table table-bordered table-advance order-column">
                    <thead class="flip-content">
                        <tr>
                            <th width="15%" class="bg-yellow bg-font-yellow text-nowrap text-center">Mã thanh toán</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Hình thức</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Tên khách hàng</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Số tiền</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Ngày thanh toán</th>
                            <th width="20%" class="bg-yellow bg-font-yellow text-nowrap text-center">Ghi chú</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.actions') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-green" colspan="3"><strong>  </strong></td>
                            <td class="bg-green text-right"><strong><%= format_price(@payment_records.sum(&:amount)) %></strong></td> <!-- @todo sum amount for payment records -->
                            <td class="bg-green" colspan="3"><strong>  </strong></td>
                        </tr>
                        <% @payment_records.each do |payment_record| %>
                            <tr>
                                <td class="text-left"><strong><%= payment_record.code %></strong></td>
                                <td class="text-left"><%= t(".#{display_payment_record_type(payment_record)}") %></td>
                                <td class="text-left"><%= payment_record.customer_name %></td>
                                <td class="text-right"><%= format_price(payment_record.amount) %></td>
                                <td class="text-left"><%= format_date(payment_record.payment_date) %></td>
                                <td class="text-justify"><%= raw payment_record.description %></td>
                                <td class="text-right">
                                    <%= erp_datalist_row_actions(
                                        [
                                            {
                                                text: '<i class="fa fa-print"></i> '+t('view_print'),
                                                url: erp_payments.show_modal_backend_payment_records_path(id: payment_record),
                                                class: "modal-link"
                                            },
                                            {
                                                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                                                url: erp_payments.edit_backend_payment_record_path(payment_record),
                                                class: "modal-link"
                                            },
                                            {
                                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                                url: erp_payments.set_deleted_backend_payment_records_path(id: payment_record),
                                                data_method: 'PUT',
                                                class: 'ajax-link',
                                                data_confirm: t('.delete_confirm')
                                            }
                                        ]
                                    ) %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% else %>
                <div class="alert alert-warning alert-dismissable no-margin">Chưa có lần thanh toán nào cho công nợ kỳ này!</div>
            <% end %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_2">
            <% if @orders.count > 0 %>

                <table class="table table-bordered table-advance order-column">
                    <thead class="flip-content">
                        <tr>
                            <th width="20%" class="bg-yellow bg-font-yellow text-nowrap text-center">Mã hóa đơn</th>
                            <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-center">Ngày đặt hàng</th>
                            <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-center">Tổng cộng</th>
                            <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-center">N.viên kinh doanh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-green" colspan="2"><strong>  </strong></td>
                            <td class="bg-green text-right"><strong><%= format_price(@orders.sum(&:total)) %></strong></td> <!-- @todo sum total for orders -->
                            <td class="bg-green"></td>
                        </tr>
                        <% @orders.each do |order| %>
                            <tr>
                                <td class="text-center"><strong>
                                    <%= link_to order.code,
                                        erp_orders.backend_order_path(order),
                                        title: order.code, class: "font-blue sbold", target: "_blank" %>
                                </strong></td> <!-- @todo modal link_to for order details -->
                                <td class="text-left"><%= format_date(order.order_date) %></td>
                                <td class=" text-right"><%= format_price(order.cache_total) %></td>
                                <td class="text-left"><%= order.employee_name %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% else %>
                <div class="alert alert-warning alert-dismissable no-margin">Chưa có đơn hàng nào ghi vào công nợ kỳ này!</div>
            <% end %>
        </div>
    </div>
</div
