<div class="custom-show text-center">
    <h4 class="font-blue-madison bold uppercase no-margin">
        Tổng hợp thu - chi
        <br>
        <% if @from.present? %>
            <span class="font-sm">
                <% if @period_name.nil? %>
                    (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %><%= !@to.nil? ? ' Đến ' + @to.strftime('%d/%m/%Y') : ' đến nay' %>)
                <% else %>
                    (<%= @period_name %>)
                <% end %>
            </span>
        <% end %>
    </h4>
</div>

<% if @from.present? %>
    <div class="text-right mb-10">
    <%= actions = []
        actions << {
            text: 'Xuất theo danh sách',
            url: erp_payments.list_xlsx_backend_payment_records_path(params.to_unsafe_hash.merge({format: 'xlsx'})),
            target: "_blank",
            class: 'with-checkboxes-link',
            data_checkboxes: 'created_at_col|Ngày tạo (ngày ghi sổ),account_balance_col|Số dư tài khoản|checked,account_col|Tên tài khoản,debit_account_col|Tài khoản nợ,credit_account_col|Tài khoản có',
            data_checkboxes_desc: 'Chọn cột muốn thêm vào danh sách',
        }
        actions << {
            text: 'Nhật ký thu tiền',
            url: erp_payments.receive_xlsx_backend_payment_records_path(params.to_unsafe_hash.merge({format: 'xlsx'})),
            target: "_blank"
        }
        actions << {
            text: 'Nhật ký chi tiền',
            url: erp_payments.pay_xlsx_backend_payment_records_path(params.to_unsafe_hash.merge({format: 'xlsx'})),
            target: "_blank"
        }
        erp_component('button/actions', {
            actions: actions,
            text: 'Xuất excel',
            class: 'btn-primary',
            icon: 'fa fa-file-excel-o'
        }) %>
    </div>

    <div class="portlet m-grid m-grid-demo">
        <div class="m-grid-row">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center text-uppercase">
                <%= t('.total_received') %><br>
                <strong class="font-red"><%= format_price(@total_received) %></strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center text-uppercase">
                <%= t('.total_paid') %><br>
                <strong class="font-red"><%= format_price(@total_paid) %></strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center text-uppercase">
                <%= t('.differences') %><br>
                <strong class="font-red"><%= format_price(@differences) %></strong>
            </div>
        </div>
    </div>
<% end %>

<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>

            <% if get_columns(params).include?("code") %>
                <th width="10%" class="sortable" sort-by='erp_payments_payment_records.code'>
                    <%= t('.code') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("payment_date") %>
                <th class="sortable" sort-by='erp_payments_payment_records.payment_date'>
                    <%= t('.payment_date') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("payment_type") %>
                <th>
                    <%= t('.payment_type') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("contact_name") %>
                <th>
                    <%= t('.contact_name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("amount") %>
                <th class="text-right sortable" sort-by='erp_payments_payment_records.amount'>
                    <%= t('.amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("account") %>
                <th>
                    Tk thanh toán
                </th>
            <% end %>
            <% if get_columns(params).include?("debit_account") %>
                <th>
                    Tk nợ
                </th>
            <% end %>
            <% if get_columns(params).include?("credit_account") %>
                <th>
                    Tk có
                </th>
            <% end %>
            <% if get_columns(params).include?("description") %>
                <th>
                    <%= t('.description') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_payments_payment_records.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @payment_records.each do |payment_record| %>
            <tr class="odd gradeX">
                <% if get_columns(params).include?("code") %>
                    <td class="title"><%= payment_record.code %></td>
                <% end %>
                <% if get_columns(params).include?("payment_date") %>
                    <td><%= format_date(payment_record.payment_date) %></td>
                <% end %>
                <% if get_columns(params).include?("payment_type") %>
                    <td>
                        <%= payment_record.payment_type_name %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("contact_name") %>
                    <td>
                        <%= raw 'KH: ' + payment_record.customer_name + '<br>' if payment_record.customer.present? %>
                        <%= raw 'NCC: ' + payment_record.supplier_name + '<br>' if payment_record.supplier.present? %>
                        <%= raw 'NV: ' + payment_record.employee_name + '<br>' if payment_record.employee.present? %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("supplier_name") %>
                    <td><%= payment_record.supplier_name %></td>
                <% end %>
                <% if get_columns(params).include?("amount") %>
                    <td class="text-right"><%= format_price(payment_record.amount) %></td>
                <% end %>
                <% if get_columns(params).include?("account") %>
                    <td class="text-left"><%= payment_record.account_name %></td>
                <% end %>
                <% if get_columns(params).include?("debit_account") %>
                    <td class="text-left"><%= payment_record.debit_account_code %></td>
                <% end %>
                <% if get_columns(params).include?("credit_account") %>
                    <td class="text-left"><%= payment_record.credit_account_code %></td>
                <% end %>
                <% if get_columns(params).include?("description") %>
                    <td><%= payment_record.description %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if payment_record.is_done? == true %>
                    <span class="label label-sm label-success"><%= t('.done') %></span>
                    <% else %>
                    <span class="label label-sm label-deleted"><%= t('.deleted') %></span>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: payment_record.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= format_date(payment_record.created_at) %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-print"></i> '+t('.view_print'),
                                url: erp_payments.backend_payment_record_path(payment_record),
                                target: '_blank'
                            },
                            {
                                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                                url: erp_payments.edit_backend_payment_record_path(payment_record)
                            },
                            {
                                text: '<i class="fa fa-check"></i> '+t('confirm'),
                                url: erp_payments.set_done_backend_payment_records_path(id: payment_record),
                                data_method: 'PUT',
                                hide: payment_record.is_done?,
                                class: 'ajax-link',
                                data_confirm: t('.confirm_confirm')
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_payments.set_deleted_backend_payment_records_path(id: payment_record),
                                data_method: 'PUT',
                                class: 'ajax-link',
                                data_confirm: t('.delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @payment_records.empty? %>
    <div class="datalist-empty-line"><%= t('no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@payment_records) %>
