<div class="portlet m-grid m-grid-demo">
    <div class="m-grid-row">
        <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.opening_funds') %>: <strong><%= @begin_period_amount %></strong></div>
        <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.total_received') %>: <strong><%= @total_received %></strong></div>
        <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.total_paid') %>: <strong><%= @total_paid %></strong></div>
        <div class="m-grid-col m-grid-col-middle m-grid-col-center"><%= t('.closing_funds') %>: <strong><%= @end_period_amount %></strong></div>
    </div>
</div>

<div class="">
    <table class="table table-advance table-hover table-striped table-checkable order-column" id="">
        <thead>
            <tr>
                <th width='1%'>
                    <%= erp_datalist_check_all %>
                </th>
                <% if get_columns(params).include?("code") %>
                    <th class="sortable" sort-by='erp_payments_payment_records.name'>
                        <%= t('.code') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("payment_date") %>
                    <th>
                        <%= t('.payment_date') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("payment_type") %>
                    <th>
                        <%= t('.payment_type') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("partner_name") %>
                    <th>
                        <%= t('.partner_name') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("amount") %>
                    <th>
                        <%= t('.amount') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("description") %>
                    <th>
                        <%= t('.description') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <th>
                        <%= t('status') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <th>
                        <%= t('creator') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <th class="sortable" sort-by='erp_payments_payment_records.created_at'>
                        <%= t('created_at') %>
                    </th>
                <% end %>
                <th width="7%"><%= t('actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% if @payment_records.each do |payment_record| %>
                <tr class="odd gradeX">
                    <td>
                        <%= erp_datalist_check_row(id: payment_record.id) %>
                    </td>
                    <% if get_columns(params).include?("code") %>
                        <td><%= link_to payment_record.code, erp_payments.edit_backend_payment_record_path(payment_record, order_id: payment_record.order_id, payment_type: payment_record.payment_type), class: 'title' %></td>
                    <% end %>
                    <% if get_columns(params).include?("payment_date") %>
                        <td><%= format_date(payment_record.payment_date) %></td>
                    <% end %>
                    <% if get_columns(params).include?("payment_type") %>
                        <td>
                            <% if !payment_record.order_id.nil? %>
                                <% if payment_record.payment_type == Erp::Payments::PaymentRecord::PAYMENT_TYPE_PAY %>
                                    <%= t('.order_pay') %>
                                <% else %>
                                    <%= t('.order_receive') %>
                                <% end %>
                            <% else %>
                                <% if payment_record.payment_type == Erp::Payments::PaymentRecord::PAYMENT_TYPE_PAY %>
                                    <%= t('.other_pay') %>
                                <% else %>
                                    <%= t('.other_receive') %>
                                <% end %>
                            <% end %>
                        </td>
                    <% end %>
                    <% if get_columns(params).include?("partner_name") %>
                        <td><%= payment_record.contact_name %></td>
                    <% end %>
                    <% if get_columns(params).include?("amount") %>
                        <td><%= payment_record.amount %></td>
                    <% end %>
                    <% if get_columns(params).include?("description") %>
                        <td><%= payment_record.description %></td>
                    <% end %>
                    <% if get_columns(params).include?("status") %>
                    <td>
                        <% if payment_record.pending? == true %>
                        <span class="label label-sm label-info"><%= t('.pending') %></span>
                        <% else %>
                        <span class="label label-sm label-success"><%= t('.done') %></span>
                        <% end %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("creator") %>
                        <td>
                            <%= erp_component('avatar', {
                                user: payment_record.creator
                            }) %>
                        </td>
                    <% end %>
                    <% if get_columns(params).include?("created_at") %>
                        <td><%= format_date(payment_record.created_at) %></td>
                    <% end %>
                    <td>
                        <%= erp_datalist_row_actions(
                            [
                                {
                                    text: '<i class="fa fa-file-pdf-o"></i> '+t('.show'),
                                    url: erp_payments.backend_payment_record_path(payment_record)
                                },
                                {
                                    text: '<i class="fa fa-check"></i> '+t('confirm'),
                                    url: erp_payments.confirm_backend_payment_records_path(id: payment_record),
                                    data_method: 'PUT',
                                    hide: payment_record.done?,
                                    class: 'ajax-link',
                                    data_confirm: t('.confirm_confirm')
                                },
                                {
                                    divider: true
                                },
                                {
                                    text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                    url: erp_payments.backend_payment_record_path(payment_record),
                                    data_method: 'DELETE',
                                    class: 'ajax-link',
                                    data_confirm: t('delete_confirm')
                                }
                            ]
                        ) %>
                    </td>
                </tr>
            <% end.empty? %>
                <tr>
                    <td colspan="7"><%= t('.no_matching_records_found') %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
        
<%= erp_datalist_pagination(@payment_records) %>