<% content_for :style do %>
    .header .right .default {
      display: none;
    }
    body {
        font-family: 'Arial';
        font-size: 13px;
    }
    .text-small {
        font-size: 12px;
    }
    .title .center .line-1 {
      font-size: 24px;
    }
    .title .center .line-2 {
      font-size: 13px;
    }
    .header .left .line-1 {
      font-size: 14px;
    }
    .header .left .line-2 {
      font-size: 13px;
    }
    .header .right .line-1 .text-center {
      font-size: 13px;
    }
    .header .right .line-1 .acc-info {
      font-size: 13px;
    }
<% end %>

<% content_for :format_info do %>
    <div class="text-center" style="color: #000;">
      <strong>Mẫu số <%= @payment_record.is_receipt_voucher? ? '01-TT' : '02-TT' %></strong>
      <br>
      (Ban hành theo Thông tư số 133/2016/TT-BTC<br>
      ngày 26/8/2016 của Bộ Tài chính)
    </div>
<% end %>
<% content_for :accounting_info do %>
    <br>
    <div class="acc-info" style="position: absolute; width: 100px; right: 50px; font-style: normal; color: #000;">
      Quyển số: ......<br>
      Nợ: <%= @payment_record.debit_account_code %><br>
      Có: <%= @payment_record.credit_account_code %>
    </div>
<% end %>
<% content_for :title_line_1 do %>
    <%= @payment_record.is_receipt_voucher? ? 'PHIẾU THU' : 'PHIẾU CHI' %>
<% end %>

<% content_for :title_line_2 do %>
    <i>Ngày <%= @payment_record.payment_date.strftime('%d') %>
    tháng <%= @payment_record.payment_date.strftime('%m') %>
    năm <%= @payment_record.payment_date.strftime('%Y') %></i>
    <div>Số: <%= @payment_record.code %></div>
<% end %>

<% content_for :main_info_col_1 do %>
  <p style="margin-top: 10px;">
    <label><%= @payment_record.is_receipt_voucher? ? 'Người nộp tiền' : 'Người nhận tiền' %>:</label>
    <span><strong><%= @payment_record.get_contact_name %> </strong></span>
  </p>
  <p style="margin-top: 5px;">
    <label>Địa chỉ:</label>
    <span><%= @payment_record.address %></span>
  </p>
  <p style="margin-top: 5px;">
    <label>Lý do <%= @payment_record.is_receipt_voucher? ? 'thu' : 'chi' %>:</label>
    <span><%= @payment_record.description %></span>
  </p>
  <p style="margin-top: 5px;">
    <label>Số tiền:</label>
    <span class="mr-30"><strong><%= format_number(@payment_record.amount) %> VNĐ</strong></span>

    <label>Viết bằng chữ:</label>
    <span><strong><i><%= docso(@payment_record.amount) %>.</i></strong></span>
  </p>
  <p style="margin-top: 15px;">
    <label>Kèm theo:</label>
    <span><%= @payment_record.origin_doc.present? ? @payment_record.origin_doc : '...............................' %></span>
  </p>
<% end %>

<% content_for :footer do %>
    <div class="col text-center" style="width: 20%">
        <p>
            <strong>Giám đốc</strong><br/>
            <i>(Ký, họ tên, đóng dấu)</i>
        </p>
    </div>
    <div class="col text-center" style="width: 20%">
        <p>
            <strong>Kế toán</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
        <!-- <p class="sign_name"><%= @payment_record.accountant_name %></p> -->
    </div>
    <div class="col text-center" style="width: 20%">
        <p>
            <strong><%= @payment_record.is_receipt_voucher? ? 'Người nộp tiền' : 'Người chi tiền' %></strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
    </div>
    <div class="col text-center" style="width: 20%">
        <p>
            <strong>Người nhận tiền</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
    </div>
    <div class="col text-center" style="width: 20%">
        <p>
            <strong>Thủ quỹ</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
    </div>
<% end %>

<% content_for :bottom do %>
    <div class="bottom left" style="bottom: -175px;">
        Thời điểm in: <%= Time.now.strftime('%d/%m/%Y, %I:%M %p') %>
    </div>
<% end %>
