<div class="custom-show text-center">
    <h4 class="font-blue-madison bold uppercase no-margin">
        Theo dõi nợ đơn hàng (Bán lẻ / Phòng khám) <br>
        <span class="font-sm">
            <% if @period_name.nil? %>
                (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %><%= !@to.nil? ? ' Đến ' + @to.strftime('%d/%m/%Y') : ' đến nay' %>)
            <% else %>
                (<%= @period_name %>)
            <% end %>
        </span>
    </h4>
</div>

<div class="portlet m-grid m-grid-demo">
    <div class="m-grid-row">
        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
            <%= t('.total_begin_of_period_amount') %><br>
            <strong><%= format_price(@full_customers.orders_tracking_sales_debt_amount(to_date: (@from - 1.day))) %></strong>
        </div>
        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
            <%= t('.total_period_amount') %><br>
            <strong><%= format_price(@full_customers.orders_tracking_sales_total_amount(from_date: @from, to_date: @to)) %></strong>
        </div>
        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
            <%= t('.total_paid_amount') %><br>
            <strong><%= format_price(@full_customers.orders_tracking_sales_paid_amount(from_date: @from, to_date: @to)) %></strong>
        </div>
        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
            <%= t('.total_end_of_period_amount') %><br>
            <strong><%= format_price(@full_customers.orders_tracking_sales_debt_amount(to_date: @to)) %></strong>
        </div>
    </div>
</div>

<table class="table table-advance table-hover table-striped order-column">
    <thead>
        <tr>
            <% if get_columns(params).include?("customer") %>
                <th width='30%'>
                    <%= t('.customer') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("begin_of_period_amount") %>
                <th class="text-right">
                    <%= t('.begin_of_period_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("period_amount") %>
                <th class="text-right">
                    <%= t('.period_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("paid_amount") %>
                <th class="text-right">
                    <%= t('.paid_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("end_of_period_amount") %>
                <th class="text-right">
                    <%= t('.end_of_period_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("salesperson") %>
                <th>
                    <%= t('.salesperson') %>
                </th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>  <!-- todo update this function -->
            <tr class="odd gradeX has-child-table"
                data-url="<%= erp_payments.sales_orders_tracking_table_details_backend_payment_records_path(
                    customer_id: customer.id,
                    from_date: @from,
                    to_date: @to,
                ) %>">
                <% if get_columns(params).include?("customer") %>
                    <td>
                        <i class="fa fa-plus expand tr-expand-button"></i>
                        <strong><%= contact_link(customer) %></strong>
                    </td>
                <% end %>
                <% if get_columns(params).include?("begin_of_period_amount") %>
                    <td class="text-right">
                        <%= format_price(customer.orders_tracking_sales_debt_amount(to_date: (@from - 1.day))) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("period_amount") %>
                    <td class="text-right">
                        <%= format_price(customer.orders_tracking_sales_total_amount(from_date: @from, to_date: @to)) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("paid_amount") %>
                    <td class="text-right">
                        <%= format_price(customer.orders_tracking_sales_paid_amount(from_date: @from, to_date: @to)) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("end_of_period_amount") %>
                    <td class="text-right">
                        <%= format_price(customer.orders_tracking_sales_debt_amount(to_date: @to)) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("salesperson") %>
                    <td class="text-nowrap">
                        <%= customer.salesperson_name %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @customers.empty? %>
    <div class="datalist-empty-line"><%= t('no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@customers) %>
