<% content_for :title do %>
    <%= @payment_record.code %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_payments.backend_payment_records_path %>">
        <i class="icon-usd"></i> <%= t('.payment_records') %>
    </a> / <%= @payment_record.code %> / <%= t('.show') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/edit', {
        text: t('.edit'),
        href: erp_payments.edit_backend_payment_record_path(@payment_record, order_id: Erp::Orders::Order.first, ptype: @payment_record.pay_receive)
    }) %>
    <%= erp_component('button/actions', {
        actions:
        [
            {
                text: '<i class="fa fa-check"></i> '+t('confirm'),
                url: erp_payments.set_done_backend_payment_records_path(id: @payment_record),
                data_method: 'PUT',
                hide: @payment_record.is_done?,
                class: 'ajax-link',
                data_confirm: t('.confirm_confirm')
            },
            {
                text: '<i class="glyphicon glyphicon-trash"></i> '+t('.delete'),
                href: erp_payments.set_deleted_backend_payment_records_path(id: @payment_record),
                data_method: 'PUT',
                hide: @payment_record.is_deleted?,
                data_confirm: t('delete_confirm'),
                class: 'link-method'
            }
        ],
        text: t('actions'),
        class: 'btn-noborder'
    }) %>
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<!--<div class="row">-->
<!--    <div class="col-md-12">-->
        <%= render 'detail', payment_record: @payment_record %>            
<!--    </div>-->
<!--</div>-->