<% content_for :title do %>
    <%= @payment_record.code %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_payments.backend_payment_records_path %>">
        <i class="icon-usd"></i> <%= t('.payment_records') %>
    </a> / <%= t(".show_#{@payment_record.pay_receive}") %> # <%= @payment_record.code %>
    <%= status_label(@payment_record.status) %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/edit', {
        text: t('.edit'),
        href: erp_payments.edit_backend_payment_record_path(@payment_record)
    }) %>
    <%= erp_component('button/actions', {
        actions:
        [
            {
                text: '<i class="fa fa-check"></i> '+t('confirm'),
                url: erp_payments.set_done_backend_payment_records_path(id: @payment_record),
                data_method: 'PUT',
                hide: @payment_record.is_done?,
                class: 'ajax-link',
                data_confirm: t('.confirm_confirm')
            },
            {
                text: '<i class="glyphicon glyphicon-trash"></i> '+t('.delete'),
                href: erp_payments.set_deleted_backend_payment_records_path(id: @payment_record),
                data_method: 'PUT',
                hide: @payment_record.is_deleted?,
                data_confirm: t('.delete_confirm'),
                class: 'link-method'
            }
        ],
        text: t('actions'),
        class: 'btn-noborder'
    }) %>
<% end %>

<%= erp_datalist(
    url: erp_payments.show_list_backend_payment_records_path(id: @payment_record.id),
    columns: [
        
    ]
) %>
