<div class="custom-show text-center">
    <h4 class="font-blue-madison bold uppercase no-margin">
        Công nợ nhà cung cấp <br>
        <span class="font-sm">
            <% if @period_name.nil? %>
                (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %><%= !@to.nil? ? ' Đến ' + @to.strftime('%d/%m/%Y') : ' đến nay' %>)
            <% else %>
                (<%= @period_name %>)
            <% end %>
        </span>
    </h4>
</div>

<div class="portlet m-grid m-grid-demo">
    <div class="m-grid-row">
        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
            <%= t('.total_begin_of_period_amount') %><br>
            <strong><%= format_price(@full_suppliers.purchase_debt_amount(to_date: (@from - 1.day))) %></strong>
        </div>
        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
            <%= t('.total_period_amount') %><br>
            <strong><%= format_price(@full_suppliers.purchase_total_amount(from_date: @from, to_date: @to)) %></strong>
        </div>
        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
            <%= t('.total_paid_amount') %><br>
            <strong><%= format_price(@full_suppliers.purchase_paid_amount(from_date: @from, to_date: @to)) %></strong>
        </div>
        <div class="m-grid-col m-grid-col-middle m-grid-col-center">
            <%= t('.total_end_of_period_amount') %><br>
            <strong><%= format_price(@full_suppliers.purchase_debt_amount(to_date: @to)) %></strong>
        </div>
    </div>
</div>

<table class="table table-advance table-hover table-striped order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("supplier_code") %>
                <th>
                    <%= t('.supplier_code') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("supplier") %>
                <th>
                    <%= t('.supplier') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("begin_of_period_amount") %>
                <th class="text-right">
                    <%= t('.begin_of_period_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("period_amount") %>
                <th class="text-right">
                    <%= t('.period_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("paid_amount") %>
                <th class="text-right">
                    <%= t('.paid_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("end_of_period_amount") %>
                <th class="text-right">
                    <%= t('.end_of_period_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("salesperson") %>
                <th class="text-left">
                    <%= t('.salesperson') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @suppliers.each do |supplier| %>  <!-- todo update this function -->
            <tr class="odd gradeX has-child-table"
                data-url="<%= erp_payments.supplier_liabilities_tracking_table_details_backend_payment_records_path(
                    supplier_id: supplier.id,
                    from_date: @from,
                    to_date: @to,
                ) %>">
                <td>
                    <%= erp_datalist_check_row(id: supplier.id) %>
                </td>
                <% if get_columns(params).include?("supplier_code") %>
                    <td>
                        <i class="fa fa-plus expand tr-expand-button"></i>
                        <strong><%= supplier.code %></strong>
                    </td>
                <% end %>
                <% if get_columns(params).include?("supplier") %>
                    <td>
                        <strong><%= supplier.name %></strong>
                    </td>
                <% end %>
                <% if get_columns(params).include?("begin_of_period_amount") %>
                    <td class="text-right"><%= format_price(supplier.purchase_debt_amount(to_date: (@from - 1.day))) %></td>
                <% end %>
                <% if get_columns(params).include?("period_amount") %>
                    <td class="text-right"><%= format_price(supplier.purchase_total_amount(from_date: @from, to_date: @to)) %></td>
                <% end %>
                <% if get_columns(params).include?("paid_amount") %>
                    <td class="text-right"><%= format_price(supplier.purchase_paid_amount(from_date: @from, to_date: @to)) %></td>
                <% end %>
                <% if get_columns(params).include?("end_of_period_amount") %>
                    <td class="text-right"><%= format_price(supplier.purchase_debt_amount(to_date: @to)) %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-angle-double-right"></i> '+t('.create_pay_for_contact'),
                                url: erp_payments.new_backend_payment_record_path(
                                    pay_receive: Erp::Payments::PaymentRecord::TYPE_PAY,
                                    payment_type_id: Erp::Payments::PaymentType.find_by_code(Erp::Payments::PaymentType::CODE_SUPPLIER),
                                    supplier_id: supplier.id
                                )
                            },
                            {
                                text: '<i class="fa fa-angle-double-left"></i> '+t('.create_receive_for_contact'),
                                url: erp_payments.new_backend_payment_record_path(
                                    pay_receive: Erp::Payments::PaymentRecord::TYPE_RECEIVE,
                                    payment_type_id: Erp::Payments::PaymentType.find_by_code(Erp::Payments::PaymentType::CODE_SUPPLIER),
                                    customer_id: supplier.id
                                )
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @suppliers.empty? %>
    <div class="datalist-empty-line"><%= t('no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@suppliers) %>