<% uid = unique_id %>
<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_<%= uid %>_1" data-toggle="tab">
                <i class="fa fa-bar-chart"></i>
                Thống kê công nợ
            </a>
        </li>
        <li>
            <a href="#tab_<%= uid %>_2" data-toggle="tab">
                <i class="fa fa-cart-arrow-down"></i>
                Chi tiết nhập hàng trong kỳ
            </a>
        </li>
        <li>
            <a href="#tab_<%= uid %>_3" data-toggle="tab">
                <i class="icon-action-undo"></i>
                Chi tiết trả hàng trong kỳ
            </a>
        </li>
        <li>
            <a href="#tab_<%= uid %>_4" data-toggle="tab">
                <i class="icon-clock"></i>
                Lịch sử thanh toán
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_<%= uid %>_1">
            <%= erp_datalist(url: erp_payments.supplier_liabilities_tracking_periods_list_backend_payment_records_path(
                    supplier_id: params[:supplier_id],
                    from_date: params[:from_date],
                    to_date: params[:to_date]
                )
            ) %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_2">
            <%= erp_datalist(url: erp_payments.supplier_liabilities_tracking_purchase_import_list_backend_payment_records_path(
                    supplier_id: params[:supplier_id],
                    from_date: params[:from_date],
                    to_date: params[:to_date]
                )
            ) %>
            <% if false %>
                <% if @orders.count > 0 %>
                    <table class="table table-bordered table-advance order-column">
                        <thead class="flip-content">
                            <tr>
                                <th width="20%" class="text-left bg-yellow bg-font-yellow text-nowrap">Mã hóa đơn</th>
                                <th width="10%" class="text-center bg-yellow bg-font-yellow text-nowrap">Ngày đặt hàng</th>
                                <th width="10%" class="bg-yellow bg-font-yellow text-nowrap text-right">Tổng cộng</th>
                                <th width="10%" class="bg-yellow bg-font-yellow text-nowrap">Nhân viên đặt hàng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bg-green" colspan="2"><strong>  </strong></td>
                                <td class="bg-green text-right"><strong><%= format_price(@orders.sum(&:total)) %></strong></td> <!-- @todo sum total for orders -->
                                <td class="bg-green"></td>
                            </tr>
                            <% @orders.each do |order| %>
                                <tr>
                                    <td class="text-left"><strong>
                                        <%= link_to order.code,
                                            erp_orders.backend_order_path(order),
                                            title: order.code, class: "font-blue sbold", target: "_blank"
                                        %>
                                    </strong></td> <!-- @todo modal link_to for order details -->
                                    <td class="text-center"><%= format_date(order.order_date) %></td>
                                    <td class=" text-right"><%= format_price(order.cache_total) %></td>
                                    <td class="text-left"><%= order.employee_name %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% else %>
                    <div class="alert alert-warning alert-dismissable no-margin">Chưa có đơn hàng nào ghi vào công nợ kỳ này!</div>
                <% end %>
            <% end %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_3">
            <%= erp_datalist(url: erp_payments.supplier_liabilities_tracking_purchase_export_list_backend_payment_records_path(
                    supplier_id: params[:supplier_id],
                    from_date: params[:from_date],
                    to_date: params[:to_date]
                )
            ) %>
            <% if false %>
                <% if @orders.count > 0 %>
                    <table class="table table-bordered table-advance order-column">
                        <thead class="flip-content">
                            <tr>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-left text-nowrap">Mã hóa đơn</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-left">Ngày đặt hàng</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-left">Sản phẩm</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-right">Đơn giá</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-center">Số lượng</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-right">Tổng cộng</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-left">N.viên kinh doanh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bg-green"><strong>  </strong></td>
                                <td class="bg-green"></td>
                                <td class="bg-green"></td>
                                <td class="bg-green"></td>
                                <td class="bg-green"></td>
                                <td class="bg-green text-right"><strong><%= format_price(@orders.sum(&:total)) %></strong></td> <!-- @todo sum total for orders -->
                                <td class="bg-green"></td>
                            </tr>
                            <% @orders.each do |order| %>
                                <% order.order_details.each do |order_detail| %>
                                    <tr>
                                        <td class="text-left text-nowrap"><strong>
                                            <%= link_to order.code,
                                                erp_orders.backend_order_path(order),
                                                title: order.code, class: "font-blue sbold", target: "_blank" %>
                                        </strong></td>
                                        <td class="text-left"><%= format_date(order.order_date) %></td>
                                        <td class="text-left"><%= order_detail.product_name %></td>
                                        <td class=" text-right"><%= format_price(order_detail.price) %></td>
                                        <td class=" text-center"><%= order_detail.quantity %></td>
                                        <td class=" text-right"><%= format_price(order_detail.subtotal) %></td>
                                        <td class="text-left"><%= order.employee_name %></td>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                <% else %>
                    <div class="alert alert-warning alert-dismissable no-margin">Chưa có đơn hàng nào ghi vào công nợ kỳ này!</div>
                <% end %>
            <% end %>
        </div>
        <div class="tab-pane" id="tab_<%= uid %>_4">
            <form class="more-filter">
                <div class="row mb-25">
                    <div class="col-md-4 text-left">
                        <%= erp_form_control('date', {
                            label: 'Từ ngày',
                            name: 'from_date',
                            placeholder: 'Chọn lọc từ ngày bắt đầu'
                        }) %>
                    </div>
                    <div class="col-md-4 text-left">
                        <%= erp_form_control('date', {
                            label: 'Đến ngày',
                            name: 'to_date',
                            placeholder: 'Chọn lọc đến ngày cuối'
                        }) %>
                    </div>
                    <div class="col-md-4 text-left">
                        <%= erp_form_control("dataselect", {
                            name: 'period',
                            label: 'Chu kỳ',
                            placeholder: 'Chọn lọc theo chu kỳ',
                            url: erp_periods.dataselect_backend_periods_path(format: 'json'),
                        }) %>
                    </div>
                </div>
            </form>
            
            <%= erp_datalist(url: erp_payments.supplier_liabilities_tracking_payment_records_list_backend_payment_records_path(
                    supplier_id: params[:supplier_id]
                )
            ) %>
        </div>
    </div>
</div
