<% if params.to_unsafe_hash[:global_filter][:period].present? or
    (params.to_unsafe_hash[:global_filter][:from_date].present? and
     params.to_unsafe_hash[:global_filter][:to_date].present?) %>
    
    <div class="custom-show text-center">
        <h4 class="font-blue-madison bold uppercase no-margin">
            Bảng kê tiền thưởng theo Target cho nhân viên
            <br>
            <span class="font-sm">
                <% if @period_name.nil? %>
                    (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' Đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>)
                <% else %>
                    (<%= @period_name %>)
                <% end %>
            </span>
        </h4>
    </div>
    
    <div class="text-right mb-10">
        <%= actions = []
            actions << {
                text: 'Thưởng theo target NV ',
                url: erp_payments.employee_target_xlsx_backend_payment_records_path(params.to_unsafe_hash.merge({format: 'xlsx'})),
                target: "_blank"
            }
            actions << {
                text: 'Thưởng theo doanh thu (1%)',
                url: erp_payments.company_target_xlsx_backend_payment_records_path(params.to_unsafe_hash.merge({format: 'xlsx'})),
                target: "_blank"
            } if @company_target.present?
            actions << {
                text: 'Tổng chi hoa hồng',
                url: erp_payments.commission_xlsx_backend_payment_records_path(params.to_unsafe_hash.merge({format: 'xlsx'})),
                target: "_blank"
            }
            erp_component('button/actions', {
                actions: actions,
                text: 'Xuất excel - Tổng hợp',
                class: 'btn-primary',
                icon: 'fa fa-file-excel-o'
            })
        %>
    </div>
    
    <table class="table table-advance table-hover table-striped table-checkable order-column">
        <thead>
            <tr>
                <th width='1%'>
                    <%= erp_datalist_check_all %>
                </th>
                <% if get_columns(params).include?("employee") %>
                    <th>
                        <%= t('.employee') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("total_revenue") %>
                    <th class="text-right">
                        <%= t('.total_revenue') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("total_received") %>
                    <th class="text-right">
                        <%= t('.total_received') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("total_remain") %>
                    <th class="text-right">
                        <%= t('.total_remain') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("total_commission") %>
                    <th class="text-right">
                        <%= t('.total_commission') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("paid_commission") %>
                    <th class="text-right">
                        <%= t('.paid_commission') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("remain_commission") %>
                    <th class="text-right">
                        <%= t('.remain_commission') %>
                    </th>
                <% end %>
                <th width="7%"><%= t('actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% @employees.each do |employee| %>
                <tr class="odd gradeX has-child-table"
                    data-url="<%= erp_payments.target_commission_details_backend_payment_records_path(params.to_unsafe_hash.merge({employee_id: employee.id})) %>"
                >
                    <td>
                        <%= erp_datalist_check_row(id: employee.id) %>
                    </td>
                    <% if get_columns(params).include?("employee") %>
                        <td>
                            <i class="fa fa-plus expand tr-expand-button"></i>
                            <strong><%= employee.name %></strong
                        </td>
                    <% end %>
                    <% if get_columns(params).include?("total_commission") %>
                        <td class="text-right"><%= format_price(employee.target_commission_amount(@options)) %></td>
                    <% end %>
                    <% if get_columns(params).include?("paid_commission") %>
                        <td class="text-right"><%= format_price(employee.target_commission_paid_amount(@options)) %></td>
                    <% end %>
                    <% if get_columns(params).include?("remain_commission") %>
                        <td class="text-right"><%= format_price(employee.target_commission_remain_amount(@options)) %></td>
                    <% end %>
                    <td>
                        <%=
                        actions = []
                        actions << {
                            text: '<i class="fa fa-plus"></i> '+t('.create_pay_for_commission'),
                            url: erp_payments.new_backend_payment_record_path(
                                pay_receive: Erp::Payments::PaymentRecord::TYPE_PAY,
                                payment_type_id: Erp::Payments::PaymentType.find_by_code(Erp::Payments::PaymentType::CODE_COMMISSION),
                                employee_id: employee.id,
                                period_id: @period.id
                            )
                        }
                        actions << {divider: true}
                        actions << {
                            text: '<i class="fa fa-file-excel-o"></i> Bảng hoa hồng thu PK/bán lẻ',
                            url: erp_payments.commission_with_for_order_xlsx_backend_payment_records_path(params.to_unsafe_hash.merge(
                                employee_id: employee.id,
                                format: 'xlsx',
                            )),
                            target: '_blank',
                        }
                        actions << {
                            text: '<i class="fa fa-file-excel-o"></i> Bảng hoa hồng thu công nợ',
                            url: erp_payments.commission_with_for_contact_xlsx_backend_payment_records_path(params.to_unsafe_hash.merge(
                                employee_id: employee.id,
                                format: 'xlsx',
                            )),
                            target: '_blank',
                        }
                        #actions << {divider: true}
                        #(1..3).each do |pr|
                        #    actions << {
                        #        text: '<i class="fa fa-file-pdf-o"></i> '+t('.payment_record_for_commission') + ' - ' + format_date(Time.now),
                        #        url: 'javascript:;'
                        #    }
                        #end

                        erp_datalist_row_actions(
                            actions
                        ) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <% if @employees.empty? %>
        <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
    <% end %>
    
    <%= erp_datalist_pagination(@employees) %>
<% else %>
    <div class="alert alert-warning">
        <p>Vui lòng chọn các tham số bắt buộc:
            <br>- <strong>Mốc thời gian (Từ ngày - đến ngày)</strong>
        </p>
    </div>
<% end %>
