<% content_for :title do %>
    <%= t('.commission') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-bar-chart-o"></i> <%= t('.commission') %>
<% end %>

<% content_for :page_toolbar do %>

<% end %>

<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'period',
                label: t('.filter_period'),
                placeholder: t('.choose_period'),
                url: erp_periods.dataselect_backend_periods_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'employee',
                label: t('.filter_employee'),
                placeholder: t('.choose_employee'),
                url: erp.dataselect_backend_users_path(format: 'json'),
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_payments.target_commission_table_backend_payment_records_path(params.to_unsafe_hash),
    keyword: true,
    filters: [],
    columns: [
        {
            text: t('.employee'), name: 'employee', value: true, checked: true
        },
        {
            text: t('.total_commission'), name: 'total_commission', value: true, checked: true
        },
        {
            text: t('.paid_commission'), name: 'paid_commission', value: true, checked: true
        },
        {
            text: t('.remain_commission'), name: 'remain_commission', value: true, checked: true
        }
    ]
) %>
