<% content_for :title do %>
    <%= @payment_method.name %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_payments.backend_payment_methods_path %>">
    <i class="fa fa-credit-card"></i> <%= t('.payment_methods') %>
    </a> / <%= @payment_method.name %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_payments.new_backend_payment_method_path
    }) %>
<% end %>

<div class="row">
    <div class="col-md-6">
        <% if @payment_method.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <%= render 'form', payment_method: @payment_method %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>