<%= form_for([erp_payments, :backend, payment_type]) do |f| %>
    <%= erp_form_control("text", {
        name: 'payment_type[name]',
        value: payment_type.name,                   
        label: t('.name')
    }) %>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <%= erp_form_control('checkbox', {
                name: 'payment_type[is_payable]',
                id: 'payment_type_is_payable',
                value: payment_type.is_payable,
                not_selected_value: 'false',
                options: [{value: 'true', text: t('.is_payable')}],
                errors: payment_type.errors.full_messages_for(:is_payable),
                alert: true
            }) %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <%= erp_form_control('checkbox', {
                name: 'payment_type[is_receivable]',
                id: 'payment_type_is_receivable',
                value: payment_type.is_receivable,
                not_selected_value: 'false',
                options: [{value: 'true', text: t('.is_receivable')}]
            }) %>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_payments.backend_payment_types_path
    }) %>
<% end %>