<% content_for :title do %>
    <%= t('.edit') %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_payments.backend_payment_types_path %>">
    <i class="fa fa-cc-mastercard"></i> <%= t('.payment_types') %>
    </a> / <%= @payment_type.name %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_payments.new_backend_payment_type_path
    }) if can? :create, @payment_type %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @payment_type.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', payment_type: @payment_type %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>