<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("code") %>
                <th>
                    <%= t('.code') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @payment_types.each do |payment_type| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: payment_type.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><%= payment_type.name %></td>
                <% end %>
                <% if get_columns(params).include?("code") %>
                    <td><%= payment_type.code %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_payments.edit_backend_payment_type_path(payment_type)
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="7"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= erp_datalist_pagination(@payment_types) %>